footer {
  background-color: #212121;
  width: 100%;
  height: 210px;
  .upper {
    span {
      text-transform: uppercase;
      @include font(
        14px,
        $font-montserrat-reg,
        $font-span--color-primary,
        bold
      );
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    .logo {
      position: relative;
      img {
        position: absolute;
        top: 22px;
      }
      span {
        position: absolute;
        left: 70px;
        top: 35px;
      }
    }
    .pages {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      a {
        @include font(
          12px,
          $font-opensans-reg,
          $font-main--color-primary_3,
          400
        );
        padding: 10px 10px 10px 0px;
      }
      a:hover {
        @include font(12px, $font-opensans-reg, $font-span--color-primary, 400);
        text-decoration: underline $font-span--color-primary;
      }
    }
    .icons {
      margin-top: 22px;
      display: flex;
      a {
        @include font(12px, $font-opensans-reg, $default--color__3, 500);
        display: flex;
        justify-content: space-between;
        i,
        p {
          padding-left: 15px;
        }
      }
    }
  }
  hr {
    background-color: $default--color__4;
  }
  .copyright {
    @include font(12px, $font-montserrat-reg, $default--color__4, 400);
    text-align: center;
  }
}
