<div class="container-fluid banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 more">
        <div class="name">
          Global Solar - Зроблено нами, <br />
          продумано все до дрібниць
        </div>
        <hr />
        <p>Спеціалізацією нашої компанії «Солар Систем»  є монтаж, реалізація, сервісне гарантійне та післягарантійне обслуговування сонячних електростанцій та сонячних колекторів будь-якої складності та потужності. ймаємось:
        </p>
        <form action="#">
            <button type="submit" class="btn btn-danger">ЧИТАТИ БІЛЬШЕ</button>
        </form>
      </div>
    </div>
  </div>
  <img class="decor" src="../img/decor.png">
</div>
