<section class="top--header">
  <div class="container-fluid top--header__bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-md-2 logo">
          <a href="index.html">
          <img src="../img/logo.png" alt="logo" />
          <span>Global <br> Solar</span>
          </a>
        </div>
        <div class="col-xl-7 col-md-7 pages">
          <div>
             <a href="#">ГОЛОВНА</a>
          </div>
          <div>
            <a href="#">ПОСЛУГИ І ЦІНИ</a>
          </div>
          <div>
            <a href="#">FAQ</a>
          </div>
          <div>
            <a href="#">КОНТАКТИ</a>
          </div>
          <div>
            <a href="#">НАШІ РОБОТИ</a>
          </div>
          <div>
            <a href="#">КАТАЛОГ</a>
          </div>
      </div>
        <div class="offset-1 col-xl-2 col-md-2 top--header_butons">
          <button type="submit" class="btn btn-outline-danger">ВХІД</button>
        </div>
      </div>
    </div>
  </div>
</section>
