@mixin font($font-size, $font-family, $color, $font-weight) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}
@mixin button(
  $font-size,
  $font-family,
  $color,
  $bgcolor,
  $font-weight,
  $box-shadow
) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  background: $bgcolor;
  font-weight: $font-weight;
  box-shadow: $box-shadow;
}

