// Background colors
$bg-header--color-primary_1: #212121;
$bg-main--color-primary_1: #fcfcfc; //color of the first block
$bg-main--color-primary_2: #ffffff; //body color
$bg-main--color-primary_2: #fafafa; //body color in second block
$bg-footer--color-primary: #0e131a;

// Text colors

$font-h1--color-primary: #000000; //h1
$font-main--color-primary_1: #212121;
$font-main--color-primary_2: #4d4d4d;
$font-main--color-primary_3: #ffffff;
$font-main--color-primary_4: #262a2d;
$font-main--color-primary_5: #4c4c4c;
$font-header-p--color-primary: #181818; //p - in header

$font-span--color-primary: #ff9f5c; //span
$font-header-footer-a--color-primary: #c4c4c4; //a

$font-text-footer--color-primary: #1b2432;
$font-text-footer--color-primary--hover: #2a3546;

// Button colors

$btn--color-primary_1: #f5584b; //button_1
$btn--color-primary_1--hover: #ffffff;
$btn--bg-color-primary_1--hover: #f5584b;

$btn--color-primary_2--hover: #212121;

$btn--color-primary_3--hover: #f5574b; //button_2

// Default colors
$default--color__1: #ffddc6; // border of discount
$default--color__2: #4b434f;
$default--color__3: #ffffff;